@keyframes enter-anim{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



:root{
    --radius: 15px;
    --interactable-color: hsla(0,0%,50%,0.25); 
}

::selection{
    background-color: black;
    color: white;
}

::-moz-selection{
    background-color: black;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    gap: calc(100vh * 0.03);

    justify-content: center;
}

div{
    width: 100%;
    padding: 2px;
    border-radius: var(--radius);
}

button{
    border-style: none;
    /* border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius); */

    background-color: transparent;
    color:  hsla(0,0%,50%,0.8);

    cursor: pointer;
}
button:hover{
    color: hsla(0,0%,20%, 1);
}
button:active{
    color: var(--interactable-color);
}

input, textarea{
    field-sizing: content;

    border-style: none;
    border-radius: var(--radius);

    padding: 6px;
}
input:focus, textarea:focus{
    outline-color: transparent;
}

h1{
    font-size: 2.5em;
}

P{
    width: 30%;
    word-wrap: break-word;
}


#everything{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    font-family: Arial, Helvetica, sans-serif;
}

#word-to-count-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*search bar input*/
#word-to-count-input{
    width: 80%;
}
#count-button{
    margin-left: auto;
}

#text-input{
    resize: none;
    width: 97%; /*to prevent it from appearing to blead out */
}


#output-block{
    padding: 10px;
    display: flex;
    justify-content: space-between;



    color: hsla(0,0%,50%,0.8);
}


.has-transtiton{
    transition-property: all;
    transition-duration: 0.3s;
}

.can-be-focussed:hover{
    box-shadow: 0 0 6px 2px var(--interactable-color);
}

.enter-anim{
    opacity: 0;
    animation: enter-anim 0.3s ease-out calc(0.3s * var(--order)) 1 normal forwards;
}